
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="/Home/Welcome">
    <input type="number" name="input" />
    <input type="submit" value="Submit"/>

</form>

<h1>@ViewBag.fullName @ViewBag.lastName @ViewBag.email @ViewBag.phoneNumber @ViewBag.Password</h1>
