
@{
    ViewBag.Title = "User Registration";
}

<h2>Success!</h2>
 Hello @ViewBag.firstName .

<h3>Your Account Details:</h3>
Name: @ViewBag.firstName @ViewBag.lastName<br />
Age: @ViewBag.email<br />
Email Address: @ViewBag.phoneNumber<br />
Phone Number: @ViewBag.password<br />