
@{
    ViewBag.Title = "User Registration";
}

<h2>User Registration!</h2>
 Hello @ViewBag.firstName .

<h3>Your Account Details:</h3>
Name: @ViewBag.firstName @ViewBag.lastName<br />
Age: @ViewBag.age<br />
Birth: @ViewBag <br />
Email: @ViewBag.email<br />
Phone Number: @ViewBag.phoneNumber<br />
Password: @ViewBag.password<br />